{% extends '::base.html.twig' %}

{% block body -%}
    <h1>لیست محتوا</h1>

    <table class="records_list" style="direction:rtl;">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>شماره محتوا</th>
                <th>شماره کاربر</th>
                <th>محتوا</th>
                <th>تاریخ ثبت</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('contents_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.contentID }}</td>
                <td>{{ entity.userID }}</td>
                <td>{{ entity.context }}</td>
                <td>{% if entity.timestamp %}{{ entity.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contents_show', { 'id': entity.id }) }}">مشاهده</a>
                    </li>
                    <li>
                        <a href="{{ path('contents_edit', { 'id': entity.id }) }}">اصلاح</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('contents_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
