{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ContentEntity</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>ردیف</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>شماره محتوا</th>
                <td>{{ entity.contentID }}</td>
            </tr>
            <tr>
                <th>شماره کاربر</th>
                <td>{{ entity.userID }}</td>
            </tr>
            <tr>
                <th>محتوا</th>
                <td>{{ entity.context }}</td>
            </tr>
            <tr>
                <th>تاریخ ثبت</th>
                <td>{{ entity.timestamp|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contents') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('contents_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
